.card{
    width: 18rem;
    margin-bottom: 2rem; 
    color: rgb(184, 184, 184);
    border-color: rgb(46, 46, 46);
    background-color:rgb(34, 34, 34);
}

.button {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.bump {
    animation: bump 400ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(1.05);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
}