.navbar{
    background-color: rgb(94, 121, 136);
    padding: 1rem 2rem;
}

.navbar span {
    font-size: 1.5rem;
}

.navbar a{
    color: white !important;
    border-radius: 0.5rem;  
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1.25rem;
}

.navbar a:hover{
    background-color: rgb(29, 32, 32);
}